<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/moto-home">Susuki</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/moto-home">Motos</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/product-home">Inventario</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/producto">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cotizacion">Cotizar</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2 w-100" type="search" placeholder="Search" aria-label="Search" [formControl]="name">
                <button class="btn btn-outline-success" type="submit" (click)="search();">Search</button>
            </form>
            <li>
                <a class="btn btn-outline-success" (click)="logout()">Salir</a>
            </li>
        </div>
    </div>
</nav>