<div class="container">
    <div class="row mb-3">
        <div class="col">
            <img src="../../../assets/images/boxer.png" class="img-fluid" alt="Imagén de un Arduino Uno">
        </div>
        <div class="col">
            <p class="fs-1 text-white">{{inventario.producto?.nombre}}</p>
            <p class="fs-1 text-white">Cantidad: {{inventario.cantidad | number}}</p>
            <!-- <p class="fs-1 text-white">Precio: {{product?.price | currency}}</p> -->
            <!-- <p class="fs-1 text-white">Descripción:</p> -->
            <!-- <p class="fs-3 text-white">{{product?.description}}</p> -->
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="row row-cols-auto">
                <div class="col">
                    <button type="button" class="btn btn-primary" (click)="decreaseQuantity()">Salida</button>
                </div>
                <div class="col">
                    <form>
                        <input type="text" class="form-control" mask="separator.0" thousandSeparator="," [formControl]="quantity">
                    </form>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" (click)="addQuantity()">Entrada</button>
                </div>
            </div>
            <div class="row" *ngIf="quantity?.value > inventario.cantidad && isDecrease">
                <div class="alert alert-warning" role="alert">
                    ⚠¡Advertencia!⚠ No hay disponibilidad suficiente del producto. Usted quiere retirar
                    {{quantity?.value}} y solo hay disponibilidad de {{inventario?.cantidad}}
                </div>
            </div>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success mx-4"
                (click)="setIsNew(true); showModal(true,'product-form');">Crear</button>
            <button type="button" class="btn btn-success mx-4"
                (click)="setIsNew(false); showModal(true,'product-form');">Editar</button>
            <button class="btn btn-danger mx-4" (click)="delete();">Eliminar</button>
        </div>
    </div>

    <!-- Modales -->
    <app-product-form [setIsNew]="isNew" [inventario]="inventario" (inventarioChange)="getInventario($event)"></app-product-form>
</div>